.item {
  font-size: 18px;
  height: 30px;
  display: flex;
  align-items: center;
}

.item::before {
  margin-right: 10px;
  content: '';
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.button {
  display: inline-block;
  margin: 0;
  margin-left: 15px;
  font-size: 14px;
  width: 100px;
  height: 30px;
  background-color: transparent;
  border: 2px solid cadetblue;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.button:hover,
.button:focus {
  background-color: cadetblue;
}
