.label {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  font-size: 18px;
  width: 200px;
  height: 25px;
  padding-left: 10px;
  border: 2px solid cadetblue;
  border-radius: 10px;
}

.input:focus {
  outline: none;
  background-color: rgb(182, 238, 240);
}
